# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: "DRASá§TIC: Digital Repository at Scale that Invites Computation"
org_description: A project of the Digital Curation Innovation Center in the School of Information Studies, University of Maryland at College Park
org_link: "http://dcic.umd.edu"
email: jansen+drastic@umd.edu
description: > # this means to ignore newlines until "baseurl:"
  A community-based, open source software project that provides a distributed
  and scalable solution for digital assets and their curation workflows.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: Drastic_Repo
github_username:  UMD-DRASTIC

# Build settings
markdown: kramdown
theme: minima
gems:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock

# Uncomment out the line below for Docker; this is so the container's port can be exposed and mapped to an outside port
host: 0.0.0.0
